@font-face {
  font-family: "iconfont";
  /* Project id  */
  src: url('iconfont.ttf?t=1657962129084') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 22px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.icon-add:before {
  content: "\e664";
}

.icon-ashbin:before {
  content: "\e665";
}

.icon-comment:before {
  content: "\e668";
}

.icon-help:before {
  float: right;
  margin-left: 5px;
  color: rgb(116, 116, 116);
  content: "\e677";
}

.icon-select:before {
  content: "\e67e";
}